---
interface HeaderProps {
  title: string;
}
const { title } = Astro.props as HeaderProps;
const baseUrl = import.meta.env.BASE_URL;
---

<header class="page-header">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title}</title>
  <meta property="og:title" content={title} />
  <meta name="twitter:title" content={title} />
  <link href={`${baseUrl}assets/styles.css`} rel="stylesheet" type="text/css" />
  <link href={`${baseUrl}assets/favicon-32x32.png`} rel="icon" type="image/x-icon" />
  <link href={`${baseUrl}assets/favicon-32x32.png`} rel="apple-touch-icon" />
</header>

<style>
  .page-header {
    display: none;
  }
</style>
